<!DOCTYPE html>
<html>
    <head>
        <% include partials/templates/head.ejs %>
    </head>
    <h1>Game Sales Hub</h1>
    <h3>Website Author: Bojian Du, Zhida Liu</h3>
    <% include partials/contents/game-info.ejs %>
</html>
